<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraspIT_EEG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GraspIT_EEG.Properties.Settings>
            <setting name="R2D2ComPort" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EmotivUserFilePath" serializeAs="String">
                <value>C:\\ProgramData\\Emotiv\\</value>
            </setting>
            <setting name="VendorID" serializeAs="String">
                <value>4711</value>
            </setting>
            <setting name="ProductID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArmID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bandpass6_7gain" serializeAs="String">
                <value>70996.86298</value>
            </setting>
            <setting name="Bandpass6_7coef1" serializeAs="String">
                <value>-0.9064815219</value>
            </setting>
            <setting name="Bandpass6_7coef2" serializeAs="String">
                <value>5.2504533221</value>
            </setting>
            <setting name="Bandpass6_7coef3" serializeAs="String">
                <value>-12.9468830643</value>
            </setting>
            <setting name="Bandpass6_7coef4" serializeAs="String">
                <value>17.3739583958</value>
            </setting>
            <setting name="Bandpass6_7coef5" serializeAs="String">
                <value>-13.3776569031</value>
            </setting>
            <setting name="Bandpass6_7coef6" serializeAs="String">
                <value>5.6056470274</value>
            </setting>
            <setting name="Bandpass7_8gain" serializeAs="String">
                <value>70996.86304</value>
            </setting>
            <setting name="Bandpass7_8coef1" serializeAs="String">
                <value>-0.9064815219</value>
            </setting>
            <setting name="Bandpass7_8coef2" serializeAs="String">
                <value>5.15902028</value>
            </setting>
            <setting name="Bandpass7_8coef3" serializeAs="String">
                <value>-12.5968492018</value>
            </setting>
            <setting name="Bandpass7_8coef4" serializeAs="String">
                <value>16.8499943409</value>
            </setting>
            <setting name="Bandpass7_8coef5" serializeAs="String">
                <value>-13.0159752844</value>
            </setting>
            <setting name="Bandpass7_8coef6" serializeAs="String">
                <value>5.5080285307</value>
            </setting>
            <setting name="Bandpass8_9gain" serializeAs="String">
                <value>70996.86306</value>
            </setting>
            <setting name="Bandpass8_9coef1" serializeAs="String">
                <value>-0.9064815219</value>
            </setting>
            <setting name="Bandpass8_9coef2" serializeAs="String">
                <value>5.0551587062</value>
            </setting>
            <setting name="Bandpass8_9coef3" serializeAs="String">
                <value>-12.2066948229</value>
            </setting>
            <setting name="Bandpass8_9coef4" serializeAs="String">
                <value>16.2689518805</value>
            </setting>
            <setting name="Bandpass8_9coef5" serializeAs="String">
                <value>-12.6128380955</value>
            </setting>
            <setting name="Bandpass8_9coef6" serializeAs="String">
                <value>5.3971407108</value>
            </setting>
            <setting name="Bandpass9_11gain" serializeAs="String">
                <value>9304.588516</value>
            </setting>
            <setting name="Bandpass9_11coef1" serializeAs="String">
                <value>-0.821660008</value>
            </setting>
            <setting name="Bandpass9_11coef2" serializeAs="String">
                <value>4.4954776676</value>
            </setting>
            <setting name="Bandpass9_11coef3" serializeAs="String">
                <value>-10.8292354227</value>
            </setting>
            <setting name="Bandpass9_11coef4" serializeAs="String">
                <value>14.5814195235</value>
            </setting>
            <setting name="Bandpass9_11coef5" serializeAs="String">
                <value>-11.562225122</value>
            </setting>
            <setting name="Bandpass9_11coef6" serializeAs="String">
                <value>5.1246045354</value>
            </setting>
            <setting name="Bandpass11_13gain" serializeAs="String">
                <value>9304.588548</value>
            </setting>
            <setting name="Bandpass11_13coef1" serializeAs="String">
                <value>-0.821660008</value>
            </setting>
            <setting name="Bandpass11_13coef2" serializeAs="String">
                <value>4.238307006</value>
            </setting>
            <setting name="Bandpass11_13coef3" serializeAs="String">
                <value>-9.9175516295</value>
            </setting>
            <setting name="Bandpass11_13coef4" serializeAs="String">
                <value>13.2241672905</value>
            </setting>
            <setting name="Bandpass11_13coef5" serializeAs="String">
                <value>-10.5888017443</value>
            </setting>
            <setting name="Bandpass11_13coef6" serializeAs="String">
                <value>4.8314437111</value>
            </setting>
            <setting name="Bandpass14_16gain" serializeAs="String">
                <value>9304.588558</value>
            </setting>
            <setting name="Bandpass14_16coef1" serializeAs="String">
                <value>-0.821660008</value>
            </setting>
            <setting name="Bandpass14_16coef2" serializeAs="String">
                <value>3.7769009224</value>
            </setting>
            <setting name="Bandpass14_16coef3" serializeAs="String">
                <value>-8.4164211561</value>
            </setting>
            <setting name="Bandpass14_16coef4" serializeAs="String">
                <value>11.0169678703</value>
            </setting>
            <setting name="Bandpass14_16coef5" serializeAs="String">
                <value>-8.9860141257</value>
            </setting>
            <setting name="Bandpass14_16coef6" serializeAs="String">
                <value>4.3054654095</value>
            </setting>
            <setting name="Bandpass19_21gain" serializeAs="String">
                <value>9304.588559</value>
            </setting>
            <setting name="Bandpass19_21coef1" serializeAs="String">
                <value>-0.821660008</value>
            </setting>
            <setting name="Bandpass19_21coef2" serializeAs="String">
                <value>2.8319462023</value>
            </setting>
            <setting name="Bandpass19_21coef3" serializeAs="String">
                <value>-5.8815433063</value>
            </setting>
            <setting name="Bandpass19_21coef4" serializeAs="String">
                <value>7.2887686977</value>
            </setting>
            <setting name="Bandpass19_21coef5" serializeAs="String">
                <value>-6.2794733524</value>
            </setting>
            <setting name="Bandpass19_21coef6" serializeAs="String">
                <value>3.228267478</value>
            </setting>
            <setting name="Bandpass0_16_60gain" serializeAs="String">
                <value>1.226986718</value>
            </setting>
            <setting name="Bandpass0_16_60coef1" serializeAs="String">
                <value>0.6642317127</value>
            </setting>
            <setting name="Bandpass0_16_60coef2" serializeAs="String">
                <value>0.2500608525</value>
            </setting>
            <setting name="Bandpass0_16_60coef3" serializeAs="String">
                <value>-2.2141423193</value>
            </setting>
            <setting name="Bandpass0_16_60coef4" serializeAs="String">
                <value>-0.6015694459</value>
            </setting>
            <setting name="Bandpass0_16_60coef5" serializeAs="String">
                <value>2.5249625592</value>
            </setting>
            <setting name="Bandpass0_16_60coef6" serializeAs="String">
                <value>0.3764534782</value>
            </setting>
        </GraspIT_EEG.Properties.Settings>
    </userSettings>
</configuration>